.add-section{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.column-tasks{
    height: 100%;
    width: 100%;
    flex:0 0 auto;
    display: block;
    .column-task-sort{
        height: 100%;
        width: 100%;
    }
}
 

.custom-modal-width {
    max-width: 400px; /* Adjust the width as needed */
  }
  