.card{box-shadow: 0 1px 15px 1px rgba(52,40,104,.30);   
    width: 80%;
    margin: auto;
    margin-top: 73px;
    padding-bottom: 30px;
    flex-direction: column;
        background-color: white;}