.card{box-shadow: 0 1px 15px 1px rgba(52,40,104,.30);   
    width: 80%;
    margin: auto;
    margin-top: 73px;
    padding-bottom: 30px;
    flex-direction: column;
        background-color: white;}


        
.blocktitle{
    display: flex;
    justify-content: space-between;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.30);   
    width: 80%;
    margin: auto;
    margin-top: 73px;
    padding-bottom: 30px;
    flex-direction: column;
    background-color: white;
} 

.icon-lg {
    width: 3.5rem;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
}
.card4 {
    background-color: rgb(248, 248, 249);
    border-radius: 21px;
}
a {
    text-decoration:none;    
}

.desc{
    color:#fff;    
}
.card-body2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 23px;
    row-gap: 32px;
    padding: 36px;
}