.chats{
    display:flex;
    .chats-body{
        flex:40%;
        min-width: 300px;
        border-right-color: #3c4247;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
        height: 100vh;
    }
}

.chat-sidebar {
    width: 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    transition: all 0.1s ease;
    height: 100vh;
    overflow-y: auto;
}

.chat-sidebar-header {
    background-color: #A7BFE8 ;
}

.chat-sidebar--active {
    flex: 30%;
}

.chat-sidebar__header-icon {
    margin-right: 20px;
    color: rgb(145, 145, 145);
}

.chat-sidebar-heading {
    flex: 1;
    color: #000000;
    font-size: 1rem;
    margin-bottom: 2px;
}

.flex {
    display: flex;
}

.chat-sidebar__content {
    flex: 1;
}

.sidebar{
    background-color: #A7BFE8 ;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    display:flex;
    justify-content:flex-start;
    flex-direction: column;
    width:360px;
    height:100vh;
    flex:40%;
    border-right: 2px solid #869abd;
    overflow-y: auto;

}

.sidebar__chat--container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

.sidebar__chat--container > h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-weight: 700;
    color: black;
    transition: opacity 400ms;
}

.sidebar__chat {
    display: flex;
    padding: 20px;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    width: 100%;
    max-height: 87px;
    transition: opacity 400ms;
}

@media (min-width: 760px) {
    .sidebar__chat:hover {
        background-color: #ebebeb;
        transition: background-color 200ms;
    } 
}
