@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
@import "base/normalize";
@import "base/reset";
@import "base/fonts";
@import "base/typography";
@import "base/icon";
@import "base/common";
@import "pages/chats.scss";
@import "components/Controls.scss";
@import "components/Shortcuts.scss";
@import "components/TypeSelect.scss";
@import "components/TimeDisplay.scss";
@import "components/TaskToggle.scss";
@import "components/Board.scss";
@import "components/ModalCreate.scss";
@import "components/headproject.scss";
@import "components/modalEditTaskCalendar.scss";
@import "components/modalinvite.scss";
@import "components/modaltruefaslse.scss";
@import "components/Mycalendar.scss";
@import "components/MemberProject.scss";
@import "components/timeline.scss";
@import "components/AddSection.scss";
@import "components/Chats.scss";
@import "components/CreatePost.scss";
@import "components/postlist.scss";
@import "components/NewPostItem.scss";
@import "components/analysis.scss";
@import "components/training.scss";
@import "components/Chat.scss";
@import "components/friend.scss";
@import "components/traininglist.scss";
@import "components/task.scss";
@import "components/help.scss";
@import "components/itemnotification.scss";
@import "components/SpecialDesign.scss";
@import "components/editorblog.scss";
@import "pages/Pomodoro.scss";
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Public Sans", sans-serif;
}

#root {
    overflow: hidden;
}