.modal-body {
  overflow: hidden;
  word-break: break-all;
  padding: 1rem;
}
._3okPZ1UgyOorbL {
  align-items: stretch;
  background-color: #fff;
  border-radius: 3px;
  width: 100% !important;
  //   box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  margin-top: 16px;
  outline: 0;
  overflow: hidden;
  width: calc(100vw - 48px);
  z-index: 1;
}
._1wRFJUvIaoq-sR {
  background-image: url('https://a.trellocdn.com/prgb/dist/images/create-team/wavy-border.df0d81969c6394b61c0d.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex: 1;
  justify-content: center;
}
._1f6hQ1rpgO5o-J {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 24px;
  overflow: auto;
  text-align: left;
  z-index: 3;
  margin: 64px auto 16px;
}
._2vrbr9OyhcQOwQ ._3Iqnw8HlCKvcSz {
  color: #091e42;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 28px;
  display: block;
  margin-bottom: 12px;
}
._2vrbr9OyhcQOwQ ._3O-nh6hx6HTp9W {
  font-size: 18px;
  color: #6b778c;
  margin: 12px auto 24px;
}
._2vrbr9OyhcQOwQ label {
  margin-top: 24px;
  color: #091e42;
}
._2vrbr9OyhcQOwQ ._2ukuek1N8-13Iw {
  color: #6b778c;
  font-size: 12px;
  margin-bottom: 12px;
}
._2vrbr9OyhcQOwQ label {
  margin-top: 24px;
  color: #091e42;
}
._1E5X2RKu9Rucv2 {
  color: #172b4d;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
._1T1MG_BX1zeaq8 {
  min-height: 36px;
  background-color: #fafbfc;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  border-radius: 3px;
  -webkit-appearance: none;
  border: none;
  width: 100%;
  padding-left: 12px;
// background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='%2342526E' viewBox='0 0 20 20'%3E%3Cpath d='M4.516 7.548c.436-.446 1.043-.481 1.576 0L10 11.295l3.908-3.747c.533-.481 1.141-.446 1.574 0 .436.445.408 1.197 0 1.615-.406.418-4.695 4.502-4.695 4.502a1.095 1.095 0 0 1-1.576 0S4.924 9.581 4.516 9.163s-.436-1.17 0-1.615z'/%3E%3C/svg%3E")
    // no-repeat;
  background-size: 20px;
  background-position: right 8px center;
}
.css-14xvtl9 {
  padding: 0px;
  position: initial;
  display: inherit;
  width: 100%;
  max-width: calc(100% - 20px);
  max-height: 100%;
}
.css-iikl2v {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
  padding-right: 8px;
}
.css-196czu8 {
  margin-left: 0px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
select input {
  box-shadow: unset;
  margin: unset;
  padding: unset;
}
._2vrbr9OyhcQOwQ label {
  margin-top: 24px;
  color: #091e42;
}
._2vrbr9OyhcQOwQ ._1bvaK5JF03W_82 {
  font-weight: 100;
  color: #6b778c;
  font-size: 12px;
}
._2vrbr9OyhcQOwQ ._2ukuek1N8-13Iw {
  color: #6b778c;
  font-size: 12px;
  margin-bottom: 12px;
}
._2vrbr9OyhcQOwQ ._1aS0LdGertk5P7 {
  width: 100%;
  margin-top: 12px;
}
._2b_HpRl1Tyl1YK {
  margin-top: 16px;
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 2;
}
.qb90FI2uVIybRy {
  background-color: transparent;
  border: none;
  box-shadow: none;
  color: #42526e;
  padding: 0;
  text-decoration: none;
}
.modal-footer {
  padding: 0.5rem !important;
}
._2vrbr9OyhcQOwQ {
  display: flex;
  flex-direction: column;
}
// @media only screen and (min-width: 1281px) ._3okPZ1UgyOorbL {
//   width: 1200px;
// }
// @media only screen and (min-width: 901px) and (max-width: 1280px),
//   only screen and (min-width: 1281px) {._2vrbr9OyhcQOwQ,
//   ._2vrbr9OyhcQOwQ ._1aS0LdGertk5P7 .X1P6DVryq8CYGC,
//   ._2vrbr9OyhcQOwQ input._1CLyNodCAa-vQi,
//   ._2vrbr9OyhcQOwQ textarea._15aIJYNKhrO4vB {
//   width: 388px;
// }
