#inputShow {
  cursor: pointer;
  font-size: 20px;
}

/* ModalCreatePost */
#content {
  width: 100%;
  height: 200px;
  resize: none;
  border: none;
  font-size: 25px;
  color: dimgray;
}
#content::-webkit-scrollbar {
  width: 30px;
}
