.mychart{
    height: 100vh;
    background-color: #19214d;
}
.btn-glossary{
    width: 50px;
}
.title{
    font-size: 28px;
    font-weight: bold;
}
.title-ranking{
    font-size: 32px;
    font-weight: bold;
}