.training-list {
  .react-multi-carousel-list {
    margin: 0;
  }
  .list-templete {
    display: flex;
    & .templete-content {
      background-color: #97a0af;
      background-size: cover;
      background-position: 50%;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px;
      color: #fff;
      display: block;
      position: relative;
      text-decoration: none;
      min-height: 180px;
      flex: 1 0 22%;
      margin-right: 2%;
      max-width: 100%;
      margin-bottom: 2%;
      background-size: cover;
      background-position: center center;
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0);
    }

    & .wrap-templete {
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 3px;
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    & .content {
      display: flex;
      height: 80px;
      position: relative;
      flex-direction: column;
      padding: 8px;
      & .tag-templete {
        display: inline;
        border-radius: 3px;
        background-color: hsla(0, 0%, 100%, 0.69);
        padding: 3px 8px;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 16px;
        align-items: center;
        color: #172b4d;
        width: -webkit-fit-content;
        width: fit-content;
        width: -moz-fit-content;
      }
      & .name-templete {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        & h1 {
          position: relative;
          font-size: 16px;
          color: #fff;
          font-weight: 700;
          line-height: 20px;
          margin: 2px 0 0;
        }
      }
    }
  }
}
.blog-templete {
  display: flex;
  align-items: center;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 8px;
  }
  a {
    font-size: 1.2rem;
    color: #757575;
  }
}
.video-templete {
  display: flex;
  color: #757575;
  font-size: 1.2rem;
  margin: 0 -24px;
  div {
    margin-left: 24px;
  }
  span {
    margin-left: 8px;
  }
  .svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
  }
  .svg-inline--fa.fa-w-16 {
    width: 1em;
  }
}
