* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: inherit;
    font-weight: 400
}

a,
a:active,
a:hover {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

.underline {
    text-decoration: underline;
}

.cursor-pointer {
    cursor: pointer;
}

.pos-rel {
    position: relative;
}

.sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-1 {
    flex: 1
}

.js-focus-visible :focus:not(.focus-visible) {
    outline: none;
}

.focus-visible {
    outline-color: rgba(129, 202, 231, 0.3);
}

.header {
    background: rgb(237, 237, 237);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 10px;
    /* Fix for height bug with chat sidebar */
    min-height: 60px;
}

.avatar {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.focus-visible {
    outline: 2px solid rgba(70, 108, 119, 0.3);
}

.header {
    background: rgb(42, 47, 50)
}